auth_enabled: false

server:
  http_listen_port: 3100

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /loki

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: aws
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  aws:
    endpoint: {{ minio_server_ip }}:{{ minio_api_port }}
    bucketnames: {{ minio_bucket_name }}
    access_key_id: {{ minio_root_user }}
    secret_access_key: {{ minio_root_password }}
    region: us-east-1
    insecure: true
    s3forcepathstyle: true

  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: aws

compactor:
  working_directory: /loki/compactor
  shared_store: aws
  compactor_ring:
    kvstore:
      store: inmemory

table_manager:
  retention_deletes_enabled: true
  retention_period: 168h   # 7일
