---
- name: 1-1) Helm 스크립스
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get-helm-3.sh
    mode: '0755'

- name: 1-2) Helm 스크립트 실행 
  ansible.builtin.command: bash /tmp/get-helm-3.sh
  environment:
    PATH: "/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin"

- name: 1-3) Helm 바이너리 심볼릭 링크 생성
  ansible.builtin.file:
    src: /usr/local/bin/helm
    dest: /usr/bin/helm
    state: link

- name: 2-1) Helm repo 추가(ArgoCD)
  ansible.builtin.command: helm repo add argo https://argoproj.github.io/argo-helm

- name: 2-2) Helm repo update(선택)
  ansible.builtin.command: helm repo update

- name: 3-1) ArgoCD 설치 확인
  become: yes
  ansible.builtin.command: helm status argocd -n argocd
  register: argocd_exists
  failed_when: false

- name: 3-2) Argocd 설치
  become: yes
  ansible.builtin.command: > 
    helm install argocd argo/argo-cd 
    --version 3.2.0 
    --namespace argocd 
    --create-namespace
  when: argocd_exists.rc != 0

- name: 4-1) ArgoCD Image Updater 설치 확인
  become: yes
  ansible.builtin.command: helm status argocd-image-updater -n argocd
  register: image_updater_status
  failed_when: false

- name: 4-2) Argocd Imager Updater 설치
  become: yes
  ansible.builtin.command: >
    helm install argocd-image-updater argo/argocd-image-updater
    --version 0.12.3
    --namespace argocd
  when: image_updater_status.rc != 0
