---
- name: Load Nginx build variables
  ansible.builtin.include_vars:
    file: "{{ role_path }}/vars/nginx_build_vars.yaml"

- name: Ensure Nginx source parent directory exists
  ansible.builtin.file:
    path: "{{ nginx_src_dir | dirname }}"
    state: directory
    mode: "0755"

- name: Download Nginx source tarball
  ansible.builtin.get_url:
    url: "{{ nginx_download_url }}"
    dest: "{{ nginx_src_dir | dirname }}/nginx-{{ nginx_version }}.tar.gz"
    mode: "0644"

- name: Extract Nginx source
  ansible.builtin.unarchive:
    src: "{{ nginx_src_dir | dirname }}/nginx-{{ nginx_version }}.tar.gz"
    dest: "{{ nginx_src_dir | dirname }}"
    remote_src: yes
    creates: "{{ nginx_src_dir }}/configure"

- name: Configure Nginx with ModSecurity module
  ansible.builtin.command: >
    ./configure
    --prefix={{ nginx_prefix }}
    --conf-path={{ nginx_prefix }}/conf/nginx.conf
    --sbin-path={{ nginx_prefix }}/sbin/nginx
    --modules-path={{ nginx_prefix }}/modules
    --with-http_ssl_module
    --with-http_realip_module
    --with-http_gzip_static_module
    --with-http_stub_status_module
    --add-module={{ modsecurity_nginx_src_dir }}
  args:
    chdir: "{{ nginx_src_dir }}"
  register: nginx_configure

- name: Build Nginx
  ansible.builtin.command: make -j2
  args:
    chdir: "{{ nginx_src_dir }}"
  when: nginx_configure.rc == 0

- name: Install Nginx
  ansible.builtin.command: make install
  args:
    chdir: "{{ nginx_src_dir }}"
  when: nginx_configure.rc == 0
