---
- name: "Include containerd variables"
  ansible.builtin.include_vars:
    file: "containerd_install_vars.yaml"

- name: "Install dnf-plugins-core"
  ansible.builtin.dnf:
    name: dnf-plugins-core
    state: present

- name: "Add Docker (containerd) repository"
  ansible.builtin.copy:
    dest: "{{ containerd_repo.repo_file }}"
    mode: "{{ containerd_file_mode }}"
    content: |
      [{{ containerd_repo.name }}]
      name={{ containerd_repo.name }} - $basearch
      baseurl={{ containerd_repo.baseurl }}
      enabled={{ containerd_repo.enabled }}
      gpgcheck={{ containerd_repo.gpgcheck }}
      gpgkey={{ containerd_repo.gpgkey }}

- name: "Install containerd"
  ansible.builtin.dnf:
    name: "{{ containerd_package }}"
    state: present
    update_cache: yes

- name: "Create {{ containerd_config_dir }} directory"
  ansible.builtin.file:
    path: "{{ containerd_config_dir }}"
    state: directory
    mode: "{{ containerd_dir_mode }}"

- name: "Generate default containerd config"
  ansible.builtin.command: "containerd config default"
  register: containerd_default_config
  changed_when: false

- name: "Write containerd config to {{ containerd_config_file }}"
  ansible.builtin.copy:
    dest: "{{ containerd_config_file }}"
    content: "{{ containerd_default_config.stdout }}"
    mode: "{{ containerd_file_mode }}"

- name: "Enable systemd cgroup driver in config.toml"
  ansible.builtin.replace:
    path: "{{ containerd_config_file }}"
    regexp: 'SystemdCgroup\s*=\s*false'
    replace: 'SystemdCgroup = true'

- name: "Enable & start containerd service"
  ansible.builtin.systemd:
    name: "{{ containerd_service_name }}"
    state: "{{ containerd_service_state }}"
    enabled: "{{ containerd_service_enabled }}"

- name: "Restart containerd"
  ansible.builtin.systemd:
    name: "{{ containerd_service_name }}"
    state: restarted

