---
- name: "Include K8s variables"
  include_vars:
    file: "k8s_prereqs_vars.yaml"

- name: "1. Swap Off: 즉시 Swap 비활성화"
  become: true
  ansible.builtin.command: swapoff -a
  when: ansible_swaptotal_mb > 0

- name: "1. Swap Off: /etc/fstab 파일에서 Swap 영구 비활성화"
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: '^\s*[^#].*swap.*$'
    state: absent

- name: "2. SELinux: 영구적으로 SELinux 비활성화"
  become: true
  ansible.posix.selinux:
    state: disabled

- name: "3. 커널 모듈 설정"
  become: true
  ansible.builtin.copy:
    content: |
      overlay
      br_netfilter
    dest: /etc/modules-load.d/k8s.conf
    owner: root
    group: root
    mode: '0644'

- name: "3. 커널 모듈 즉시 로드"
  become: true
  ansible.builtin.command: "modprobe {{ item }}"
  loop:
    - overlay
    - br_netfilter

- name: "4. 커널 패러미터 설정"
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/99-kubernetes-sysctl.conf
    reload: yes
  loop:
    - { name: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { name: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
    - { name: 'net.ipv4.ip_forward', value: '1' }

- name: Install firewalld
  become: true
  ansible.builtin.package:
    name: firewalld
    state: present

- name: "5-0. 방화벽 서비스 시작"
  become: true
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: yes
  when: ansible_facts.services['firewalld.service'] is not defined or ansible_facts.services['firewalld.service'].state != 'running'

- name: "5-0-1. Gather service facts"
  become: true
  ansible.builtin.service_facts:

- name: "5-1. 포트 오픈: Kubernetes 공통 포트"
  become: true
  ansible.posix.firewalld:
    port: "{{ item.port }}/tcp"
    zone: public
    state: enabled
    permanent: yes
    immediate: yes
  loop: "{{ k8s_common_ports }}"
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
    - inventory_hostname in groups['all_k8s']

- name: "5-1-UDP. 포트 오픈: Calico VXLAN"
  become: true
  ansible.posix.firewalld:
    port: "{{ item }}/udp"
    zone: public
    state: enabled
    permanent: yes
    immediate: yes
  loop: "{{ k8s_udp_ports }}"
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
    - inventory_hostname in groups['all_k8s']

- name: "5-2. 포트 오픈: Control Plane 전용 포트"
  become: true
  ansible.posix.firewalld:
    port: "{{ item.port }}/tcp"
    zone: public
    state: enabled
    permanent: yes
    immediate: yes
  loop: "{{ k8s_control_plane_ports }}"
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
    - inventory_hostname in groups['control_plane']
    
- name: "5-3. 포트 오픈: haproxy 전용 포트"
  become: true
  ansible.posix.firewalld:
    port: "{{ item.port }}/tcp"
    zone: public
    state: enabled
    permanent: yes
    immediate: yes
  loop: "{{ haproxy_ports }}"
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
    - inventory_hostname in groups['haproxy']

- name: "5-4. 방화벽 설정 재로드"
  become: true
  ansible.builtin.service:
    name: firewalld
    state: restarted
    enabled: yes
  when:
    - ansible_facts.services['firewalld.service'] is defined
    - ansible_facts.services['firewalld.service'].state == 'running'
    - inventory_hostname in groups['all_k8s']
