---
# ansible/k8s/tasks/main.yml

# 1. K8s 공통 선행 작업 (Swap, SELinux, 커널 모듈, 방화벽 등)
- name: "Include K8s pre-requisites tasks"
  ansible.builtin.include_tasks: k8s_prereqs.yaml
  when: inventory_hostname in groups['all_k8s'] or inventory_hostname in groups['haproxy']

# 2. HAProxy 설치/설정 (LB 서버만)
- name: "Include HAProxy configuration tasks"
  ansible.builtin.include_tasks: haproxy_config.yaml
  when: inventory_hostname in groups['haproxy']

# 3. containerd 설치/설정 (K8s 노드만)
- name: "Include containerd installation tasks"
  ansible.builtin.include_tasks: containerd_install.yaml
  when: inventory_hostname in groups['all_k8s']

# 4. Kubernetes 패키지 설치 및 kubectl 환경 설정
#- name: "Include Kubernetes setup tasks"
#  ansible.builtin.include_tasks: kubernetes_setup.yaml
#  when: inventory_hostname in groups['all_k8s']

# 5. kubeadm init / join (ControlPlane + Worker 포함)
#- name: "Include K8s init/join tasks"
#  ansible.builtin.include_tasks: k8s_init.yaml
#  when: inventory_hostname in groups['control_plane'] + groups['worker_node']

